<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>

<div class="container">
  <hr>
  <h2>Artigos</h2>
  <a class="btn btn-success" href="/admin/articles/new">Novo artigo</a>
  <hr>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Categoria</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% articles.forEach(article => { %>
        <th><%= article.id %></th>
        <th><%= article.title %></th>
        <th><%= article.slug %></th>
        <th><%= article.category.title %></th>
        <th><button class="btn btn-danger">Deletar</button>
          <br>
        <button class="btn btn-warning">Editar</button></th>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include ('../../partials/footer.ejs'); %>

<script>
  confirmdelete = (event, form) => {
    event.preventDefault();
    var decision = confirm("Tem certeza que deseja remover esta categoria?");
    if(decision){
      form.submit();
    }
  }
</script>