<%- include ('partials/header.ejs'); %>
<%- include ('partials/homenavbar.ejs'); %>

<body>
  <div class="jumbotron">
    <h1 class="display-4">NodeBlog</h1>
    <p class="lead">O seu blog de artigos tecnológicos.</p>
    <hr class="my-4">
    <p>Veja abaixo os ultimos posts da comunidade!</p>
  </div>
  <div class="container">
    <% articles.forEach(article => { %>
     <div class="card">
       <div class="card-header">
        <h2><%= article.title %></h2>
       </div>
       <div class="card-body">
        <a href="/<%= article.slug %>" class="btn btn-success">Ver mais</a>
       </div>
     </div>
     <br>
    <% }) %>
    <div class="row">
      <div class="col col-12">
        <a href="/articles/page/2" style="float:right">Prox >>></a>
      </div>
    </div>
  </div>
</body>

<%- include ('partials/footer.ejs'); %>